body{
	font-family: "cursive";
}
#title{
	background-color: #ff4c68;
	font-family: 'Secular One', sans-serif;
	padding:5% 15% 0;
}


h1{
	font-weight: bold;
    font-size: 3.5rem;
	line-height: 1.5 ;
	color:white;
	font-family: 'Sansita Swashed', cursive;
	margin-bottom: 5%;
}
.top{
	font-weight: bold;
}

.nav-item{
	padding:0px 10px;
}
.navbar{
	padding:0px 10px ;
	margin-bottom: 30px;	 

}

#tindog {	
	font-weight: bolder;
	color:black;
	font-size: 2.3rem;
    font-family: 'Sansita Swashed', cursive;
}
.hi{
	font-size: 2rem;
	color:grey;
}
.im {
	margin-top: 25px;
	margin-left: 5%;
	width: 60%;
	transform: rotate(25deg);
}

.btn{
	margin:15px 2% 5%;

}
.sign-up{
	display: block;
}
#features{
	padding:8% 15%;
	text-align: center;
}
.features-img{
	color: #ff4c68;
    margin-bottom:10px;
}
p{
	color:grey;
}
.features-img:hover{
color:#FF5733;
}
.feature-header{
	font-weight: bold;
}
#testimonials{
	background-color: #ff4c68;
	text-align: center;
	padding-top: 5%;
}
.testimonials-heading{
	padding:0px 18%;
	font-size: 2.5rem;
	line-height: 1.5;
	font-weight: bold;
    font-family: "Monstserrat black";
}
.testimonial-img{
	margin-top:20px;
	border-radius: 100%;
}
em{
	font-size:1rem;
	font-weight:bold;
	margin-left:5px;
}